<!DOCTYPE html>
<ion-view title="{{ADappState.currentName}}">
    <ion-content class="has-header" ng-controller="CategoriesCtrl" bindonce="">
        <ion-refresher on-pulling="updated = lastUpdated(lastRefreshed)" pulling-text="Pull down to refresh<br><small>{{updated}}</small>" refreshing-text="Refreshing" refreshing-icon="ion-refreshing" on-refresh="onReload()"></ion-refresher>
        <ion-list animation="slide-left" item-type="item">
            <ion-item item="cat" class="" ng-repeat="cat in ADarrays.Categories track by cat.id" bindonce="ADarrays.Categories" ng-click="selectCategory(cat);" ng-href="#" nourl>
                <h2 bo-text="cat.title"></h2>
                <!--<p ng-pluralize="" count="cat.num_all_coupons" when="{ '0': 'No deals available','one': '1 deal nearby', 'other': '{} deals nearby'}"></p>-->
                <span class="badge badge-balanced" bo-text="cat.num_all_coupons">0</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
