<!DOCTYPE html>
<ion-view title="{{ADappState.currentName}}">
    <ion-content class="has-header" ng-controller="CategoryCtrl" bindonce="">
        <ion-refresher on-pulling="updated = lastUpdated(lastRefreshed)"
                       pulling-text="Pull down to refresh<br><small>{{updated}}</small>"
                       refreshing-text="Refreshing" refreshing-icon="ion-refreshing"
                       on-refresh="doRefresh()"></ion-refresher>

        <ion-list class="deals-list" bindonce="">

            <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="deal in Deals.deals_by_category_id    "
                      bindonce="Deals" ng-click="selectDeal(deal, deal.issues_by_issue_id, deal.shop_by_shop_id)" ng-init="endDate = toDate(deal.issues_by_issue_id.end_date)">
                <img bo-if="deal.deal_images == '' || deal.deal_images === null" bo-src="deal.shop_by_shop_id.shop_image">
                <img bo-if="deal.deal_images.length != 0 && deal.deal_images != null" bo-src="deal.deal_images">
                <h3 bo-text="deal.title"></h3>
                <span style="font-size: .75em" bo-if="deal.deal_images.length != 0 && deal.deal_images != null" bo-html="'at ' + deal.shop_by_shop_id.title +'<br/>'"></span>
                <strong class="balanced" bo-text="deal.new_price|number:2|currency"></strong>
                <span bo-html="', '+deal.size"></span>
                <p bo-text="'Valid ' + (toDate(deal.issues_by_issue_id.start_date) | date:'d/M') + ' - ' + (toDate(deal.issues_by_issue_id.end_date) | date:'d/M')"></p>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-clear" ng-click='openShare(deal)'><i class="icon ion-share"></i></ion-option-button>
                <ion-option-button class="button-clear" ng-click="toCartConfirm(deal)">
                    <i ng-if="inCart(deal) == false" class="icon ion-ios7-cart positive"></i>
                    <i ng-if="inCart(deal) == true" class="icon ion-checkmark-round balanced"></i>
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
