<ion-list animation="slide-left" can-swipe="true">
    <form name="subSearch" class="item item-input-inset searh-bar am-fade-and-slide-bottom" search-bar>
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchData.search" ng-keyup="search($event)">
            <i class="icon ion-close-circled placeholder-icon" ng-show="searchData.search.length > 0" ng-click="searchData.search = ''" style="font-size:30px;"></i>
        </label>
        <button type="submit" class="button button-clear hide">
            Search
        </button>
    </form>

    <!--<ion-item class="item-avatar item-icon-right" ng-repeat="deal in Deals.record | dealFilter:dealFilters" bindonce="Deals" ng-click="selectDeal(deal);">
        <img bo-src="deal.shop_by_shop_id.shop_image">
        <h2 bo-text="deal.title+', '+deal.size"></h2>
        <small class="strike dark" bo-text="'$'+(deal.list_price|number:0)"></small>
        <strong class="" bo-text="'$'+(deal.new_price|number:2:2)"></strong>
        <strong class="hide">
            <span class="" bo-text="(deal.discount_amount|number:0:2)+'% Off'"></span>
        </strong>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-clear" ng-click='openShare(deal)'><i class="icon ion-share"></i></ion-option-button>
        <ion-option-button class="button-clear" ng-click="toCart(deal, false, true)"><i class="icon ion-ios7-cart"></i></ion-option-button>
    </ion-item>-->

    <ion-item class="item-avatar item-icon-right" style="width:100%"
              collection-repeat="deal in Deals.record | dealFilter:dealFilters"
              collection-item-width="'100%'" collection-item-height="75"
              bindonce="Deals" ng-click="selectDeal(deal);" ng-init="inCart(deal)">
        <img bo-src="deal.shop_by_shop_id.shop_image">
        <h3 bo-text="deal.title+', '+deal.size"></h3>
        <!--<small class="strike dark" bo-text="'$'+(deal.list_price|number:0)"></small>-->
        <strong class="" bo-text="'$'+(deal.new_price|number:2:2)"></strong>
        <strong class="hide">
            <span class="" bo-text="(deal.discount_amount|number:0:2)+'% Off'"></span>
        </strong>

        <ion-option-button class="button-clear" ng-click='openShare(deal)'><i class="icon ion-share"></i></ion-option-button>
        <ion-option-button class="button-clear" ng-click="toCart(deal, false, true)"><i class="icon ion-ios7-cart"></i></ion-option-button>
        <!--<ion-option-button class="button-clear" ng-click="selectDeal(deal, false, true)"><i class="icon ion-ios7-cart"></i></ion-option-button>-->

        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
</ion-list>
