<div class="modal" id="DealModal" ng-controller="DealCtrl">
    <div ng-switch on="state">

        <ion-pane ng-switch-when="main" class="slide-left-right-ios7">
            <ion-header-bar bindonce class="bar-calm">
                <div class="buttons">
                    <button class="button button-icon icon ion-chevron-left" ng-click="closeModal();">Close</button>
                </div>
                <h1 class="title" bo-html="activeDeal.title"></h1>
            </ion-header-bar>
            <ion-content>
                <div class="text-center stable-bg calm" bindonce>
                    <div class="row">
                        <small class="col text-left" bo-class="{'isPhone':'col-50', 'isTablet':'col-25'}[ADappState.Type]">
                            <strong class="padding positive-bg light" bo-text="'$'+activeDeal.new_price"></strong>
                            <i class="dark strike" bo-text="'$'+activeDeal.list_price"></i>
                        </small>

                        <small class="col" bo-class="{'isPhone':'col-50', 'isTablet':'col-75'}[ADappState.Type]">
                            <span class="ion ion-clock"></span>
                            <span class bo-text="'Ends '+(toExpire(activeDeal.expire_date))"></span>
                        </small>
                    </div>

                </div>

                <div id='slider' class='swipe'>
                    <div class='swipe-wrap'>
                        <div class="image" ng-repeat="image in dealImages">
                            <div class="icon ion-loading-a" rn-lazy-background="image.path" rn-lazy-loading-class="icon ion-loading-a" rn-lazy-loaded-class="loaded"></div>
                        </div>
                    </div>
                    <p class="text-center" ng-bind="swipeCurrent + ' of ' + swipeMax"></p>
                </div>

                <div class="button-bar" style="background-color: #d9d9d9;color: #222;">
                    <span class="button button-icon">
                        {{activeDeal.thumbs_num}}
                        <i class="icon ion-heart"></i>
                    </span>

                    <a class="button button-icon icon ion-thumbsup" ng-click="thumbs(activeDeal, 'up');"></a>

                    <a class="button button-icon icon ion-thumbsdown" ng-click="thumbs(activeDeal, 'down');"></a>

                    <a class="button button-icon icon ion-share" ng-click="share(activeDeal)"></a>

                    <a ng-if="hasDirections==true" class="button button-icon icon ion-location" ng-click="toggleState();"></a>
                </div>

                <div class="padding">
                    <div class="row">
                        <div class="col">
                            <div class="deal-code" bindonce="activeDeal.coupon_code" ng-if="activeDeal.coupon_code!=''">
                                <h3 class>Coupon Code</h3>
                                <p class bo-text="activeDeal.coupon_code"></p>
                                <hr class="thin">
                            </div>

                            <div class="deal-description" bindonce="activeDeal.description">
                                <h3 class>Description</h3>
                                <p class ng-if="activeDeal.description.length == 0" bo-html="activeDeal.short_description"></p>
                                <p class ng-if="activeDeal.description.length > 0" bo-html="activeDeal.description"></p>
                                <p class ng-if="hasDirections==true">
                                    <hr class="thin">
                                    <a class="positive" ng-click="toggleState();"
                                       bo-html="'<span class=\'ion ion-location\'></span> Directions to '+activeDeal.shop_title"></a>
                                    <br>
                                {{activeDeal.shop.shop_locations}}
                                </p>
                                <hr class="thin">
                            </div>

                            <div ng-if="activeDeal.coupon_tags.length>1" bindonce="activeDeal.coupon_tags">
                                <h3 class>Tags</h3>
                                <h4>
                                    <a href="#" nourl class="label label-primary tags" ng-repeat="tag in activeDeal.coupon_tags track by $index" bo-html="tag+' <span class=\'ion ion-ios7-search-strong\'></span>'" ng-click="closeModal();searchTag(tag);"></a>

                                </h4>


                                <hr class="thin">
                            </div>

                            <div class="deals-related isPhone">
                                <h3 class bindonce="activeDeal.category_title">Related Deals in
                                    <a href="#" nourl class="label label-primary tags" bo-html="' <span class=\'icon ion-navicon-round\'></span> '+activeDeal.category_title" ng-click="closeModal();goTo('
        categories ', activeDeal.category_id);"></a>
                                </h3>
                                <ion-list animation="am-fade" item-type="item">
                                    <ion-item item="deal" class="item-thumbnail-left" bindonce="relatedDeals" ng-href="#" nourl ng-repeat="deal in relatedDeals | limitTo:20" ng-click="closeModal();selectDeal(deal, true);">
                                        <img bo-src="deal.coupon_image">
                                        <h2 bo-html="deal.title+ ' <br /> <h3> from '+deal.shop_title+ ' </h3>'"></h2>
                                        <p bo-text="(deal.discount_amount|number:0)+ '% Off'"></p>
                                        <p bo-text="'Ends '+(toExpire(deal.expire_date))"></p>
                                    </ion-item>
                                </ion-list>

                            </div>

                        </div>

                    </div>

                </div>

            </ion-content>
        </ion-pane>

        <ion-pane ng-switch-when="map" class="slide-left-right-ios7">
            <ion-header-bar bindonce class="bar-calm">
                <div class="buttons">
                    <button class="button button-icon icon ion-chevron-left" ng-click="toggleState();"></button>
                </div>
                <h1 class="title" bo-html="'<i class=\'icon ion-location\'></i> Directions to ' + activeDeal.shop_title"></h1>
            </ion-header-bar>
            <ion-content>
                <ion-pane>
                    <span ng-if="map !== undefined && destinations !== undefined">
                        <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control" events="map.events">
                            <markers models='destinations' fit='true' coords='"self"'></markers>
                            <marker coords='destinations.coords'></marker>
                        </google-map>
                    </span>
                    <hr>
                    <!--<div id="map-canvas"></div>-->
                    <ion-pane>
                        <div class="directions"></div>
                    </ion-pane>
                </ion-pane>
            </ion-content>
        </ion-pane>
    </div>
</div>
