<!DOCTYPE html>
<div class="aside" id="filterAside" tabindex="-1" role="dialog" style="width:320px;">
    <div class="aside-dialog" style="position: relative;">
        <div class="aside-content">

            <div class="aside-header">
                <button data-ng-if="ADappState.Type=='isPhone'" type="button" class="close" data-ng-click="$hide()">
                    <span class="ion-close-round"></span>
                </button>
                <h4 class="aside-title text-center" id="Filter">Filters</h4>
            </div>

            <div class="aside-body">

                <h4 class="text-muted text-center">Type:</h4>
                <div class="btn-group" data-ng-model="dealFilters.type" bs-radio-group="" style="margin: 5px auto; width:270px;">
                    <label class="btn btn-primary">
                        <input type="radio" class="btn btn-primary" value="">All</label>
                    <label class="btn btn-primary">
                        <input type="radio" class="btn btn-primary" value="deal">Sale</label>
                    <label class="btn btn-primary">
                        <input type="radio" class="btn btn-primary" value="printable">Printable</label>
                    <label class="btn btn-primary">
                        <input type="radio" class="btn btn-primary" value="code">Code</label>
                </div>

                <!--<h4 class="text-muted text-center">Sort:</h4>
<div class="btn-group" data-ng-model="dealFilters.sort" bs-radio-group="" style="margin: 5px auto; width:270px;">
    <label class="btn btn-primary">
        <input type="radio" class="btn btn-primary" value="">All
    </label>
    <label class="btn btn-primary">
        <input type="radio" class="btn btn-primary" value="deal">Ending Soon
    </label>
    <label class="btn btn-primary">
        <input type="radio" class="btn btn-primary" value="printable">Most Popular
    </label>
    <label class="btn btn-primary">
        <input type="radio" class="btn btn-primary" value="code">Lowest Price
    </label>
    <label class="btn btn-primary">
        <input type="radio" class="btn btn-primary" value="code">Highest Price
    </label>
</div>-->

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
