<!DOCTYPE html>
<div class="modal default" id="MapAside" ng-controller="MapCtrl">
    <ion-header-bar bindonce class="bar-calm">
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        </div>
        <h1 class="title" bo-html="'<span class=\'ion ion-location\'></span> Directions to '+activeShop.title"></h1>
    </ion-header-bar>

    <ion-content>
        <div id="map-canvas"></div>
        <ion-pane class="padding">
            <div class="directions"></div>
        </ion-pane>

    </ion-content>
</div>
<!-- /.aside -->
