<!DOCTYPE html>
<div class="modal default" id="ProfileAside" ng-controller="MapCtrl">
    <ion-header-bar bindonce class="bar-calm">
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        </div>
        <h1 class="title" bo-html="appData.User.fullname"></h1>
    </ion-header-bar>

    <ion-content>

        <div class="row" data-bindonce>
            <div class="col col-33">
                <img bo-src="appData.User.avatar" class="img-rounded img-responsive">
            </div>
            <div class="col col-66">
                <h4 data-bo-html="'Hello, ' + appData.User.fullname"></h4>
                <div class="row">
                    <div class="col col-50">
                        User since:
                        <br/>
                        <span data-bo-text="appData.User.date_reg|date:'mediumDate'"></span>
                    </div>
                    <div class="col col-50">
                        Faved Shops:
                        <br/>
                        <span data-bo-text=""></span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="thin">
        <div class="row">
            <h2>Faved Shops</h2>
            <div class="col">

            </div>

        </div>
        <div class="aside-footer">
            <button type="submit" class="btn btn-primary" data-ng-click="closeModal();accountLogout();">Logout</button>
        </div>
    </ion-content>
</div>
