<!DOCTYPE html>
<div class="modal default" id="RegisterAside" ng-controller="RegistrationCtrl">
    <ion-header-bar bindonce="" class="bar-balanced">
        <h1 class="title" bo-html="'<span class=\'ion ion-compose\'></span> Register with Email'"></h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="closeModal();"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div id="failures" ng-if="failures">
            <div class="list">
                <a class="item item-icon-left" href="#" ng-init="hideThis = false" ng-click="hideThis = true" ng-repeat="failure in failures" ng-hide="hideThis">
                    <i class="icon ion-alert"></i>
                    <p ng-bind="failure"></p>.
                </a>
            </div>
        </div>
        <form class="padding list" role="form" name="register_Form">
            <div class="form-group" ng-class="{'has-warning': register_Form.username.$valid==false && register_Form.username.$dirty, 'has-success': register_Form.username.$valid}">
                <label for="field_username" class="item item-input">

                    <span class="input-label">Username *</span>
                    <input type="text" class="form-control" id="field_username" placeholder="Username" name="username" ng-pattern="regex.username" ng-minlength="3" ng-maxlength="50" ng-model="registerData.username" required autofocus>
                </label>
                <div class="">

                </div>
            </div>
            <div class="form-group" ng-class="{'has-warning': register_Form.name.$valid==false && register_Form.fullname.$dirty, 'has-success': register_Form.fullname.$valid}">
                <label for="field_fullname" class="item item-input">
                    <span class="input-label">Name*</span>
                    <input type="text" class="form-control" id="field_fullname" placeholder="Name" name="fullname" ng-pattern="regex.fullname" ng-minlength="2" ng-maxlength="250" ng-model="registerData.fullname" required>
                </label>
            </div>
            <div class="form-group" ng-class="{'has-warning': register_Form.email.$valid==false && register_Form.email.$dirty, 'has-success': register_Form.email.$valid}">
                <label for="field_email" class="item item-input">
                    <span class="input-label">Email*</span>
                    <input type="email" class="form-control" id="field_email" placeholder="Email" name="email" ng-pattern="regex.email" ng-maxlength="250" ng-model="registerData.email" required>
                </label>
            </div>
            <div class="form-group" ng-class="{'has-warning': register_Form.password.$valid==false && register_Form.password.$dirty, 'has-success': register_Form.password.$valid}">
                <label for="inputPassword1" class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="password" ng-pattern="regex.password" ng-model="registerData.password" required>
                </label>

            </div>
            <div class="form-group">
                <label class="item item-input" for="field_island">
                    <span class="input-label">Island: *</span>
                    <select name="island" class="form-control" id="field_island" ng-model="registerData.island" ng-class="{'has-warning': register_Form.island.$valid==false && register_Form.island.$dirty, 'has-success': register_Form.island.$valid}" required>
                        <option value="abacos">The Abacos</option>
                        <option value="grand-bahama">Grand Bahama Island</option>
                        <option value="acklins-and-crooked">Acklins &amp; Crooked Island</option>
                        <option value="inagua">Inagua</option>
                        <option value="andros">Andros</option>
                        <option value="long">Long Island</option>
                        <option value="berry">The Berry Islands</option>
                        <option value="mayaguana">Mayaguana</option>
                        <option value="bimini">Bimini</option>
                        <option value="nassau">Nassau &amp; Paradise Island</option>
                        <option value="cat">Cat Island</option>
                        <option value="ragged">Ragged Island</option>
                        <option value="eleuthera">Eleuthera &amp; Harbour Island</option>
                        <option value="rum-cay">Rum Cay</option>
                        <option value="exumas">The Exumas</option>
                        <option value="san-salvador">San Salvador</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <button class="button button-fullbutton-balanced" ng-click="siteRegistration();" ng-disabled="register_Form.$valid==false">Create Account</button>
                <hr class="thin" />
                <p class="padding text-center">By creating an account you agree to Marketplace's&nbsp;
                    <a href="#" class="balanced" nourl ng-click="openModal('service');">Terms of Use</a>&nbsp;and
                    <a href="#" class="balanced" nourl ng-click="openModal('privacy');">Privacy Policy</a>.
                </p>
            </div>
        </form>
    </ion-content>
</div>

