<!DOCTYPE html>
<div id="ShareModal" class="modal" role="dialog" tabindex="-1" aria-labelledby="ShareModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button data-ng-if="ADappState.deviceType=='isPhone'" type="button" class="close" data-ng-click="$hide()">
                    <span class="ion-close-round"></span>
                </button>
                <h4 class="modal-title">Share</h4>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="#" data-nourl="" data-ng-click="shareFacebook(activeDeal);">
                    <h4 class="list-group-item-heading">
                        <span class="ion ion-social-facebook"></span>Facebook</h4>
                </a>

                <a class="list-group-item hidden" href="#" data-nourl="" data-ng-click="shareTwitter(activeDeal);">
                    <h4 class="list-group-item-heading">
                        <span class="ion ion-social-twitter"></span>Twitter</h4>
                </a>

                <a class="list-group-item" href="#" data-nourl="" data-ng-click="shareEmail(activeDeal);">
                    <h4 class="list-group-item-heading">
                        <span class="ion ion-ios7-email"></span>Email</h4>
                </a>

                <a class="list-group-item" href="#" data-nourl="" data-ng-click="shareText(activeDeal);">
                    <h4 class="list-group-item-heading">
                        <span class="ion ion-ios7-chatbubble"></span>Text Message</h4>
                </a>

                <a class="list-group-item" href="#" data-nourl="" data-ng-click="shareLink(activeDeal);">
                    <h4 class="list-group-item-heading">
                        <span class="ion ion-link"></span>Copy Link</h4>
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
