<!DOCTYPE html>
<ion-view title="{{ADappState.currentName}}">
    <ion-content class="has-header" ng-controller="ShopCtrl" bindonce="">
        <div class="row padding">
            <div class="col col-33">
                <img bo-src="appData.UploadsURL + activeShop.shop_image.path" class="thumbnail padding">
            </div>
            <div class="col col-66 text-center">
                <h3 data-bo-text="activeShop.title"></h3>
            </div>
        </div>

        <div class="button-bar calm-bg">
            <span class="button button-icon" ng-bind-html="'<span class=\'ion ion-eye\'></span> ' + (activeShop.views_num|number:0) + ' Views'"></span>

            <!--<a class="button button-icon icon ion-star" ng-click="thumbs(activeDeal, 'up');"></a>-->

            <a class="button button-icon" ng-click="favShop(activeShop);">
                <span data-ng-if="activeShop.faved==false">
                    <i class="ion ion-ios7-heart-outline text-success"></i>
                </span>
                <span data-ng-if="activeShop.faved==true">
                    <i class="ion ion-ios7-heart text-success"></i>
                </span>
            </a>
        </div>

        <ion-list animation="slide-left" can-swipe="true" option-buttons="dealOptions" item-type="item">
            <ion-item item="deal" class="item-thumbnail-left" ng-repeat="deal in deals" bindonce="deals" ng-click="selectDeal(deal);" ng-href="#" nourl>
                <img bo-src="deal.coupon_image">
                <h2 bo-html="deal.title+'<br/><h3>from '+deal.shop_title+'</h3>'"></h2>
                <p bo-text="(deal.discount_amount|number:0)+'% Off'"></p>
                <p bo-text="'Ends '+(toExpire(deal.expire_date))"></p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
