<div ng-controller="ModalController">
<super-navbar class="green-bar">
    <super-navbar-title ng-bind="deal.title"></super-navbar-title>
    <super-navbar-button side="right" ng-click="closeModal()">Close</super-navbar-button>
</super-navbar>

    <!--<pre class="">
        deal:{{deal|json}}
    </pre>-->
    <div ng-hide="showSpinner">
        <div class="content">

            <div class="stable-bg calm">
                <div class="list">
                    <div class="item item-avatar">
                        <img ng-src="{{deal.shop.photos[0].path}}">

                        <p>
                            <span ng-bind="deal.shop.title"></span><br/>
                            <span class="ion super-clock">&nbsp;</span>
                            <span ng-hide="deal.sale_start" ng-bind="toExpire(deal.expire_date)|date:'d/M'"></span>
                            <span ng-show="deal.sale_start"
                                  ng-bind="(toDate(deal.sale_start)|date:'d/M') + ' - ' + (toDate(deal.sale_end)|date:'d/M')"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-66">
                    <h4 class="padding-horizontal">
                        {{deal.title}}
                        <br/>
                        <span style="font-size: .7em"> - {{deal.size}}</span>
                    </h4>
                </div>
                <div class="col col-33 text-center">
                    <span style="font-size: 1.8em" class="balanced" ng-bind="(deal.new_price|number:2|currency)"></span>
                </div>

            </div>

            <div class="button-bar" style="background-color: #d9d9d9;">
                <a class="button button-icon" href="#">
                    <strong>Save {{saving(deal)|number:2|currency}}</strong>
                </a>
                <super-navigate class="button button-icon" ng-if="deal.shop.locations.length" location="deal#modalmap"
                                data-params-locations="{{ deal.shop.locations }}">
                    <i class="icon super-map"></i> Locations
                </super-navigate>
                <a class="button button-icon" ng-click="toCart(deal)" href="#">
                    <span ng-if="inCart(deal) == false"><i class="icon super-ios7-heart-outline"></i>
                        Save</span>
                    <span ng-if="inCart(deal) == true"><i class="icon super-ios7-heart"></i> Saved</span>
                </a>
                <a class="button button-icon" id="share_button" href="#" ng-click="share(deal)">
                    <i class="icon super-share"></i> Share
                </a>
            </div>

            <div id='slider' ng-show="deal.photos[0]">
                <ion-slide-box show-pager="true" class="stable-bg">
                    <ion-slide>
                        <div class="image text-center">
                            <img ng-src="{{deal.photos[0].path}}" alt="Image 1" height="300"/>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="padding-horizontal">
                <div class="row">
                    <div class="col">
                        <div class="deal-description" ng-if="deal.description">
                            <hr class="thin"/>
                            <h4 class>Description</h4>

                            <p class ng-bind-html="deal.description"></p>
                        </div>

                        <div ng-if="deal.deal_tags.length > 0">
                            <hr class="thin"/>
                            <h3 class>Tags</h3>
                            <h4>
                                <a href="#" nourl class="label label-primary tags"
                                   ng-repeat="tag in deal.deal_tags.split(',') track by $index"
                                   ng-bind-html="tag+' <span class=\'ion super-ios7-search-strong\'></span>'"
                                   ng-click="closeModal();searchTag(tag);"></a>
                            </h4>
                            <hr class="thin">
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--<super-footer-bar class="bar-stable">
            <div class="buttons">
                <span class="button button-icon">
                    {{deal.like_num}}&nbsp;<i class="icon super-eye"></i>
                </span>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button button-clear" ng-class="{true:'calm',false:'energized'}[inCart(deal)]" ng-click="toCart(deal)">
                    <i ng-if="inCart(deal) == false">Add to List</i>
                    <i ng-if="inCart(deal) == true">Added</i>
                </button>
            </div>
        </super-footer-bar>-->
    </div>
</div>