<div class="masonry">
    <div class="masonry-item masonry-deal am-fade" ng-repeat="deal in deals|orderBy:'category.id'"
            ng-show="([deal]|filter:{category_id: selectedCategory}|filter:search).length > 0">
        <super-modal-show location="deal#modal?id={{deal.id}}" class="masonry-deal-header">
            <div ng-switch="deal.photos.length != 0 && deal.photos != null">
                <img ng-switch-when="true" ng-src="{{deal.photos[0].path}}" alt="{{deal.photos[0].title}}" style="max-width: 100%"/>
                <img ng-switch-when="false" ng-src="{{deal.shop.photos[0].path}}" alt="{{deal.photos[0].title}}" style="max-width: 100%"/>
            </div>

            <div class="row light-bg" style="position:absolute;bottom:0;background: rgba(255,255,255,.7);">
                <div class="col dark" style="">
                    <h4 class="dark"><strong ng-bind="deal.title"></strong></h4>

                    <h2 class="">
                        <strong ng-bind="deal.new_price|number:2|currency"></strong><span ng-if="deal.show_size">, {{ deal.size }}</span>
                    </h2>
                </div>
            </div>
        </super-modal-show>

        <div class="item tabs tabs-secondary tabs-icon-only">
            <super-modal-show location="shop#modal?id={{deal.shop.id}}" class="tab-item">
                <img class="light-border" ng-src="{{deal.shop.photos[0].path}}" height="49px">
            </super-modal-show>
            <a id="{{'share_' + deal.id}}" class="tab-item" ng-click="share(deal)" href="#">
                <i class="icon super-share"></i>
            </a>
            <a class="tab-item" ng-click="toCart(deal);" href="#">
                <i ng-if="inCart(deal) == false" class="icon super-ios7-heart-outline"></i>
                <i ng-if="inCart(deal) == true" class="icon super-ios7-heart"></i>
            </a>
        </div>

    </div>
</div>