<ul class="list" id="main-nav">
    <li>
        <a class="item item-icon-left item-icon-right active" nav-item menu-close href="#/index"
           ui-sref-active="active">
            <span class="icon ion-bag"></span>
            Sales
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>

    <li>
        <a class="item item-icon-left item-icon-right" nav-item menu-close href="#/shopping-list"
           ui-sref-active="active">
            <span class="icon ion-clipboard"></span>
            Shopping List
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>

    <li>
        <a class="item item-icon-left item-icon-right" nav-item menu-close href="#/shops"
           ui-sref-active="active">
            <span class="icon ion-ios7-cart"></span>
            Shops
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>

    <li>
        <a class="item item-icon-left item-icon-right" nav-item menu-close href="#/categories"
           ui-sref-active="active">
            <span class="icon ion-ios7-albums"></span>
            Categories
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>

    <li>
        <a class="item item-icon-left item-icon-right" nav-item menu-close href="#/activity"
           ui-sref-active="active">
            <span class="icon ion-ios7-bell"></span>
            Notifications
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>
    <li>
        <a class="item item-icon-left item-icon-right" nav-item menu-close href="#/settings"
           ui-sref-active="active">
            <span class="icon ion-gear-a"></span>
            Settings
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </li>
    <li>
        <!--<a nourl href="#" class="item" ng-repeat="item in list">
            {{item.text}}
        </a>-->
</ul>