<div class="padding" ng-controller="IndexController">
    <div class="row responsive-sm">
        <div class="col">
            <super-navigate class="item item-image borderless"  location="deal#index">
                <img src="/images/deals_btn.png" alt="" class="borderless"/>
            </super-navigate>

            <!--<div class="item item-image borderless" ng-click="goTo('deals')">
                <img src="/images/deals_btn.png" alt="" class="borderless"/>
            </div>-->

            <!--<div class="item item-image borderless" ng-click="switchView('dealsIndex')">
                <img src="/images/deals_btn.png" alt=""/>
            </div>-->

            <br/>

            <super-navigate class="item item-image borderless" location="shop#index">
                <img src="/images/stores_btn.png" alt=""/>
            </super-navigate>

            <!--<div class="item item-image borderless" ng-click="switchView('shopsIndex')">
                <img src="/images/stores_btn.png" alt=""/>
            </div>-->

            <br/>
        </div>

        <div class="col">
            <super-navigate class="item item-image borderless" location="coupon#index">
                <img src="/images/coupons_btn.png" alt=""/>
            </super-navigate>

            <br/>

            <super-navigate class="item item-image borderless" location="shoppinglist#index">
                <img src="/images/sl_btn.png" alt=""/>
            </super-navigate>
        </div>
    </div>

</div>